/*-------------------- LEVELS CONTAINER --------------------*/

.level-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

.level-cards-container .level-card {
  cursor: pointer;
}

.level-cards-container .level-card:hover {
  opacity: 0.8;
}

.level-cards-container .level-card-title {
  font-size: 24px;
  font-weight: 500;
}

.level-cards-container .level-card-icon {
  width: 160px;
  height: 160px;
}

.level-cards-container .level-card-subtitle {
  font-size: 14px;
  line-height: 1;
}

/*-------------------- GAME BOARD --------------------*/
.game-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-main .cards-grid {
  display: grid;
  aspect-ratio: 1 / 1;
  width: min(100vw, calc(100vh - 240px));
  height: auto;
  gap: 6px;
}

.game-main .cards-grid.grid-4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.game-main .cards-grid.grid-6x6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.game-main .cards-grid.grid-8x8 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/*-------------------- GAME CARD --------------------*/
.board-card {
  border-radius: 6px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
  background-color: #ffcc00;
  background-image: url('/graphics/star-icon.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.board-card.flipped {
  background-color: #171717;
  border: 1px solid #ffcc00;
  transform: rotateY(180deg);
  background-image: none;
}

.board-card.matched {
  opacity: 0.3;
  pointer-events: none;
}

.board-card.match-animation {
  animation: flash-shadow 0.6s ease-in-out 1;
}

.board-card .board-card-front {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  background-size: cover;
  background-position: center;
  display: none;
}

.board-card.flipped .board-card-front {
  display: flex;
}

/*-------------------- GAME STATS --------------------*/
.game-stats {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  max-width: 100%;
  flex-wrap: wrap;
}

.stats-card {
  border-radius: 6px;
  background: #003158;

  font-size: 16px;
  font-weight: 500;
  padding: 4px 10px;
  text-align: center;
  display: flex;
  gap: 10px;
}

.stats-card .stats-card-value {
  color: #ffd700;
  font-size: 18px;
  font-weight: 600;
}

.stats-card .stats-card-label {
  color: #fff;
  font-size: 18px;
}

/*-------------------- GAME FOOTER --------------------*/
.game-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

/*-------------------- WIN CONTAINER --------------------*/
.win-container {
  background: #1e1e1e;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 0 4px rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px;
}

.win-container .win-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.win-container .win-container-header .trophy-icon {
  width: 60px;
  height: 60px;
}

/*---------------------- RESPONSIVE BREAKPOINTS ---------------------- */
@media (max-width: 585px) {
  .board-card {
    background-size: 12px 12px;
  }

  .game-main .cards-grid {
    width: min(100vw, calc(100vh - 440px));
    gap: 4px;
  }

  .level-cards-container .level-card-icon {
    width: 100px;
    height: 100px;
  }

  .level-cards-container .level-card-title {
    font-size: 18px;
  }

  .level-cards-container .level-card-subtitle {
    font-size: 12px;
  }

  .win-container {
    padding: 10px;
  }
  .win-container .win-container-header .trophy-icon {
    width: 30px;
    height: 30px;
  }

  .win-container .win-container-header .celebration-gif {
    width: 50px;
    height: 50px;
  }
}

/*-------------------- ANIMATION -------------------*/
@keyframes flash-shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: none;
  }
}
